@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Noto+Sans:ital,wght@0,800;1,800&display=swap');

:root {
  font-family: 'Manrope', sans-serif;

  --white: #ffffff;
  --white-dm: #ffffff05;
  --gray-900: #0b0f19;
  --gray-800: #33354d;
  --gray-700: #565973;
  --gray-600: #9397ad;
  --gray-500: #b4b7c9;
  --gray-400: #d4d7e5;
  --gray-300: #e2e5f1;
  --gray-200: #eff2fc;
  --gray-100: #f3f6ff;
  --brand-primary: #6366f1;
  --brand-primary-hover: #6366f190;
  --system-error: #ef4444;
  --system-success: #22c55e;
  --system-warning: #ffba08;
  --system-info: #4c82f7;

  /* darkmode */
  --background-darkmode: var(--gray-800);
}

.dark {
  background-color: var(--background-darkmode);
  color: var(--white-dm);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* MARK: Header */

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  width: min(100svw, 1320px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem auto;
  padding: 0 0.8rem;
  height: 3.125rem;

  .darkmode-signin-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .darkmode-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    span {
      display: none;
    }

    span::before {
      content: 'Lightmode';
    }

    &.dark-mode {
      span::before {
        content: 'Darkmode';
      }

      .switch {
        display: flex;
        align-items: center;
        justify-content: end;
      }
    }

    .switch {
      height: 1.5rem;
      width: 2.875rem;
      border-radius: 3rem;
      background-color: var(--gray-600);
      display: flex;
      align-items: center;
      justify-content: start;
      padding: 0 0.1rem;

      .circle {
        height: 1.625rem;
        width: 1.625rem;
        background: var(--white);
        border-radius: 50%;
      }
    }

    @media (min-width: 1024px) {
      span {
        display: inline;
      }
    }
  }

  .burger-container {
    width: 2.5rem;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 1024px) {
      display: none;
    }

    .burger-menu {
      position: relative;
      height: 0.187rem;
      width: 1.375rem;
      background-color: var(--gray-900);
      border-radius: 0.5rem;

      &::before,
      &::after {
        content: '';
        position: absolute;
        height: 0.187rem;
        width: 1.375rem;
        background-color: var(--gray-900);
        border-radius: 0.5rem;
        left: 0;
      }

      &::before {
        top: -0.6rem;
      }

      &::after {
        top: 0.6rem;
      }

      &.active {
        background-color: transparent;
      }

      &.active::before {
        transform: rotate(45deg);
        top: 0;
      }

      &.active::after {
        transform: rotate(-45deg);
        top: 0;
      }
    }
  }

  .signin-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

    @media (min-width: 1024px) {
      display: inline;
    }

    .signin-btn {
      padding: 0.5rem 1rem;
      background-color: var(--brand-primary);
      border-radius: 0.25rem;
      color: var(--white);
      text-decoration: none;
      border: 1px solid var(--brand-primary);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      &:hover {
        background-color: var(--brand-primary-hover);
        border: 1px solid var(--brand-primary-hover);
      }
    }
  }
}

/* MARK: Hero */

.hero {
  width: 100%;
  max-width: 1320px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: radial-gradient(
    120.91% 118.4% at 50% 100%,
    rgba(99, 102, 241, 0.1) 0%,
    rgba(218, 70, 239, 0.05) 42%,
    rgba(241, 244, 253, 0.07) 83%
  );

  @media (min-width: 768px) {
    /* height: 618px; */
    display: grid;
    grid-template:
      'title title title' auto
      'ingress image image' auto
      / 1fr 1fr 1fr;
    place-content: center;
  }

  @media (min-width: 1200px) {
    /* height: 56.25rem; */
    grid-template:
      'title image' auto
      'ingress image' auto
      / 1fr 1fr;
  }

  .hero-title {
    width: 21.875rem;
    /* width: 21.875rem; */
    /* padding: 1rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.625rem auto 0 auto;

    @media (min-width: 768px) {
      width: 30rem;
      height: 11rem;
      grid-area: title;
      margin: 0 auto;
      display: flex;
    }

    @media (min-width: 1024px) {
      width: 35rem;
    }

    h1 {
      color: #131022;
      text-align: center;
      font-family: Manrope;
      font-size: 2.125rem;
      font-style: normal;
      font-weight: 800;
      line-height: 2.75rem;

      @media (min-width: 768px) {
        font-size: 2.75rem;
        line-height: 130%;
      }

      @media (min-width: 1200px) {
        font-size: 3.5rem;
        text-align: left;
      }
    }
  }

  .hero-info-container {
    width: min(100%, 23.5rem);
    max-width: 23.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: lightblue;

    @media (min-width: 768px) {
      grid-area: ingress;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      /* padding: 0 1rem; */
      padding-left: 1.5rem;
    }

    @media (min-width: 1024px) {
      align-items: start;
      justify-content: start;
    }

    .hero-ingress {
      /* max-width: 270px; */
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1.125rem;

      @media (min-width: 768px) {
        width: 17.5rem;
      }

      h2 {
        color: #585c7b;
        text-align: center;
        font-family: Manrope;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        /* line-height: 28.8px; */
        line-height: 1.6;

        @media (min-width: 768px) {
          text-align: left;

          span::after {
            content: '';
            display: block;
          }
        }
      }
    }

    .hero-app-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
      margin: 1.5rem 0;

      @media (min-width: 540px) {
        flex-direction: row;
      }

      a:hover {
        cursor: pointer;
      }

      .appstore img {
        width: 100%;
        height: 40px;
      }

      .googleplay img {
        width: 100%;
        height: 60px;
      }
    }
  }

  .hero-img-container {
    height: 100%;
    display: none;
    overflow: hidden;
    grid-area: image;

    position: relative;

    img {
      width: 240px;
      height: auto;
    }

    @media (min-width: 768px) {
      height: 420px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1rem;
    }

    @media (min-width: 1200px) {
      height: 90svh;
      grid-template:
        'title image' auto
        'ingress image' auto
        / 1fr 1fr;

      img {
        width: 400px;
        height: auto;
      }
    }

    .phone-back {
      position: absolute;
      bottom: -162px;
      right: 150px;

      filter: drop-shadow(-20px 0 15px rgba(0, 0, 0, 0.3));
    }

    .phone-front {
      position: absolute;
      bottom: -80px;
      right: 20px;
    }
  }
}

/* MARK: Brands */

.brand-logos-container {
  display: none;
  justify-content: center;

  @media (min-width: 768px) {
    width: 100%;
    max-width: 1320px;
    display: flex;
    gap: 1.5rem;
    margin: 3rem 0;
  }

  @media (min-width: 1024px) {
    margin: 6rem 0;
  }

  .brand-logo {
    @media (min-width: 768px) {
      display: flex;
      width: 10rem;
      height: 6.25rem;
      /* padding: 2rem 0.5rem; */
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      border: 1px solid var(--Gray-300, #e2e5f1);

      &:nth-child(n + 5) {
        display: none;
      }
    }

    @media (min-width: 1200px) {
      display: flex;
      width: 12.25rem;
      height: 6.25rem;
      padding: 2rem 2.3rem;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border-radius: 0.5rem;
      border: 1px solid var(--Gray-300, #e2e5f1);
      background: var(--White, #fff);

      &:nth-child(n + 5) {
        display: flex;
      }
    }

    &:hover {
      box-shadow: 0 4.4px 12px -1px rgba(19, 16, 34, 0.06),
        0 2px 6.4px -1px rgba(19, 16, 34, 0.03);
    }
  }
}

/* ! MARK: Features */

.features-section {
  max-width: 1320px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.features-image-container {
  width: 60%;
  height: 100%;
  display: none;

  img {
    width: 70%;
  }

  @media (min-width: 1024px) {
    display: block;
  }
}

.features-descriptions-presentation {
  display: flex;
  flex-direction: column;
  height: 100%;

  @media (min-width: 768px) {
    padding: 1.4rem;
  }

  /* border: 1px solid; */

  .features-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
      font-size: 1.75rem;
      font-weight: 800;
      line-height: 1.3;
    }

    p {
      color: #585c7b;

      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.6;
      text-align: center;
    }
  }
}

.features-desriptions-container {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .feature-description-card {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    padding: 1rem;

    .feature-icon {
      display: flex;
      width: 60px;
      height: 60.08px;
      padding: 16.08px 16px 16px 16px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border-radius: 8px;
      background: #f3f6ff;
    }

    .description {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      /* border: 0.5px solid; */

      h3 {
        font-size: 1.25rem;
        font-weight: 800;
        line-height: 1.4;
      }

      p {
        font-weight: 400;
        line-height: 1.6;
        color: #585c7b;
      }
    }
  }
}
