@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Noto+Sans:ital,wght@0,800;1,800&display=swap');

/* :root {
  font-family: 'Manrope', sans-serif;
  interpolate-size: allow-keywords;

  --white: #ffffff;
  --white-dm: #ffffff05;
  --gray-900: #0b0f19;
  --gray-800: #33354d;
  --gray-700: #565973;
  --gray-600: #9397ad;
  --gray-500: #b4b7c9;
  --gray-400: #d4d7e5;
  --gray-300: #e2e5f1;
  --gray-200: #eff2fc;
  --gray-100: #f3f6ff;
  --brand-primary: #6366f1;
  --brand-primary-hover: #6366f190;
  --system-error: #ef4444;
  --system-success: #22c55e;
  --system-warning: #ffba08;
  --system-info: #4c82f7;
  --background: var(--white)

  darkmode 
  --background-darkmode: var(--gray-800);
  --background-section-darkmode: var(--White, #fff / 0.04);
  --clr-border-darkmode: 1px solid rgba(255, 255, 255, 0.15);

  @media (prefers-color-scheme: light) {
    --theme: 'light';
    color-scheme: light;
  }
  
  @media (prefers-color-scheme: dark) {
    --theme: 'dark';
    color-scheme: dark;
    background: var(--background-darkmode);
  }
}

:root:has([value="light"]:checked) {
   --theme: 'light';
    color-scheme: light;
}

:root:has([value="dark"]:checked) {
  --theme: 'dark';
    color-scheme: dark;

} */

:root {
  font-family: 'Manrope', sans-serif;
  interpolate-size: allow-keywords;

  --white: #ffffff;
  --gray-900: #0b0f19;
  --gray-800: #33354d;
  --gray-700: #565973;
  --gray-600: #9397ad;
  --gray-500: #b4b7c9;
  --gray-400: #d4d7e5;
  --gray-300: #e2e5f1;
  --gray-200: #eff2fc;
  --gray-100: #f3f6ff;
  --brand-primary: #6366f1;
  --brand-primary-hover: #6366f190;
  --system-error: #ef4444;
  --system-success: #22c55e;
  --system-warning: #ffba08;
  --system-info: #4c82f7;

  --background: var(--white);
  --background-section: var(--gray-100);
  --clr-border: var(--gray-200);
  --clr-heading: var(var(--gray-900));

  @media (prefers-color-scheme: light) {
    --theme: 'light';
    color-scheme: light;
  }

  @media (prefers-color-scheme: dark) {
    --theme: 'dark';
    color-scheme: dark;

    --white: #ffffff15;
    --background: var(--gray-800);
    --background-section: var(--white);
    --clr-border: var(--white);

    --clr-heading: var(var(--gray-100));
  }
}

:root:has([value='light']:checked) {
  --theme: 'light';
  color-scheme: light;
}

:root:has([value='dark']:checked) {
  --theme: 'dark';
  color-scheme: dark;

  --white: #ffffff15;
  --background: var(--gray-800);
  --background: var(--gray-800);
  --clr-border: var(--white);
}

/* .dark {
  color-scheme: dark;
  background-color: var(--background-darkmode);
  color: var(--white-dm);
  border: var(--clr-border-darkmode);
  background: var(--background-section-darkmode);
} */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-heading);
}

/* MARK: Header */

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  width: min(100svw, 1320px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem auto;
  padding: 0 0.8rem;
  height: 3.125rem;

  .darkmode-signin-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .darkmode-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    span {
      display: none;
    }

    span::before {
      content: 'Lightmode';
    }

    &.dark-mode {
      span::before {
        content: 'Darkmode';
        color: var(--clr-heading);
      }

      .switch {
        display: flex;
        align-items: center;
        justify-content: end;
      }
    }

    .switch {
      height: 1.5rem;
      width: 2.875rem;
      border-radius: 3rem;
      background-color: var(--gray-600);
      display: flex;
      align-items: center;
      justify-content: start;
      padding: 0 0.1rem;

      .circle {
        height: 1.625rem;
        width: 1.625rem;
        background: var(--background-section);
        border-radius: 50%;
      }
    }

    @media (min-width: 1024px) {
      span {
        display: inline;
      }
    }
  }

  .burger-container {
    width: 2.5rem;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 1024px) {
      display: none;
    }

    .burger-menu {
      position: relative;
      height: 0.187rem;
      width: 1.375rem;
      background-color: var(--gray-900);
      border-radius: 0.5rem;

      &::before,
      &::after {
        content: '';
        position: absolute;
        height: 0.187rem;
        width: 1.375rem;
        background-color: var(--gray-900);
        border-radius: 0.5rem;
        left: 0;
      }

      &::before {
        top: -0.6rem;
      }

      &::after {
        top: 0.6rem;
      }

      &.active {
        background-color: transparent;
      }

      &.active::before {
        transform: rotate(45deg);
        top: 0;
      }

      &.active::after {
        transform: rotate(-45deg);
        top: 0;
      }
    }
  }

  .signin-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

    @media (min-width: 1024px) {
      display: inline;
    }

    .signin-btn {
      padding: 0.5rem 1rem;
      background-color: var(--brand-primary);
      border-radius: 0.25rem;
      color: var(--white);
      text-decoration: none;
      border: 1px solid var(--brand-primary);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      &:hover {
        background-color: var(--brand-primary-hover);
        border: 1px solid var(--brand-primary-hover);
      }
    }
  }
}

/* MARK: Hero */

.hero {
  width: 100%;
  max-width: 1320px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: radial-gradient(
    120.91% 118.4% at 50% 100%,
    rgba(99, 102, 241, 0.1) 0%,
    rgba(218, 70, 239, 0.05) 42%,
    rgba(241, 244, 253, 0.07) 83%
  );

  @media (min-width: 768px) {
    /* height: 618px; */
    display: grid;
    grid-template:
      'title title title' auto
      'ingress image image' auto
      / 1fr 1fr 1fr;
    place-content: center;
  }

  @media (min-width: 1200px) {
    /* height: 56.25rem; */
    grid-template:
      'title image' auto
      'ingress image' auto
      / 1fr 1fr;
  }

  .hero-title {
    width: 21.875rem;
    /* width: 21.875rem; */
    /* padding: 1rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.625rem auto 0 auto;

    @media (min-width: 768px) {
      width: 30rem;
      height: 11rem;
      grid-area: title;
      margin: 0 auto;
      display: flex;
    }

    @media (min-width: 1024px) {
      width: 35rem;
    }

    h1 {
      /* color: var(--clr-heading); */
      text-align: center;
      font-family: Manrope;
      font-size: 2.125rem;
      font-style: normal;
      font-weight: 800;
      line-height: 2.75rem;

      @media (min-width: 768px) {
        font-size: 2.75rem;
        line-height: 130%;
      }

      @media (min-width: 1200px) {
        font-size: 3.5rem;
        text-align: left;
      }
    }
  }

  .hero-info-container {
    width: min(100%, 23.5rem);
    max-width: 23.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (min-width: 768px) {
      grid-area: ingress;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      /* padding: 0 1rem; */
      padding-left: 1.5rem;
    }

    @media (min-width: 1024px) {
      align-items: start;
      justify-content: start;
    }

    .hero-ingress {
      /* max-width: 270px; */
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1.125rem;

      @media (min-width: 768px) {
        width: 17.5rem;
      }

      h2 {
        /* color: var(--clr-heading); */
        text-align: center;
        font-family: Manrope;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        /* line-height: 28.8px; */
        line-height: 1.6;

        @media (min-width: 768px) {
          text-align: left;

          span::after {
            content: '';
            display: block;
          }
        }
      }
    }

    .hero-app-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
      margin: 1.5rem 0;

      @media (min-width: 540px) {
        flex-direction: row;
      }

      a:hover {
        cursor: pointer;
      }

      .appstore img {
        width: 100%;
        height: 40px;
      }

      .googleplay img {
        width: 100%;
        height: 60px;
      }
    }
  }

  .hero-img-container {
    height: 100%;
    display: none;
    overflow: hidden;
    grid-area: image;

    position: relative;

    img {
      width: 240px;
      height: auto;
    }

    @media (min-width: 768px) {
      height: 420px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1rem;
    }

    @media (min-width: 1200px) {
      height: 90svh;
      grid-template:
        'title image' auto
        'ingress image' auto
        / 1fr 1fr;

      img {
        width: 400px;
        height: auto;
      }
    }

    .phone-back {
      position: absolute;
      bottom: -162px;
      right: 150px;

      filter: drop-shadow(-20px 0 15px rgba(0, 0, 0, 0.3));
    }

    .phone-front {
      position: absolute;
      bottom: -80px;
      right: 20px;
    }
  }
}

/* MARK: Brands */

.brand-logos-container {
  display: none;
  justify-content: center;

  @media (min-width: 768px) {
    width: 100%;
    max-width: 1320px;
    display: flex;
    gap: 1.5rem;
    margin: 3rem 0;
  }

  @media (min-width: 1024px) {
    margin: 6rem 0;
  }

  .brand-logo {
    @media (min-width: 768px) {
      display: flex;
      width: 10rem;
      height: 6.25rem;
      /* padding: 2rem 0.5rem; */
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      border: 1px solid var(--clr-border);

      &:nth-child(n + 5) {
        display: none;
      }
    }

    @media (min-width: 1200px) {
      display: flex;
      width: 12.25rem;
      height: 6.25rem;
      padding: 2rem 2.3rem;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border: 1px solid var(--clr-border);

      &:nth-child(n + 5) {
        display: flex;
      }
    }

    &:hover {
      box-shadow: 0 4.4px 12px -1px rgba(19, 16, 34, 0.06),
        0 2px 6.4px -1px rgba(19, 16, 34, 0.03);
    }
  }
}

/* ! MARK: Features */

.features-section {
  max-width: 1320px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.features-image-container {
  width: 60%;
  height: 100%;
  display: none;

  img {
    width: 70%;
  }

  @media (min-width: 1024px) {
    display: block;
  }
}

.features-descriptions-presentation {
  display: flex;
  flex-direction: column;
  height: 100%;

  @media (min-width: 768px) {
    padding: 1.4rem;
  }

  .features-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
      font-size: 1.75rem;
      font-weight: 800;
      line-height: 1.3;
    }

    p {
      color: #585c7b;

      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.6;
      text-align: center;
    }
  }
}

.features-desriptions-container {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .feature-description-card {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    padding: 1rem;

    .feature-icon {
      display: flex;
      width: 60px;
      height: 60.08px;
      padding: 16.08px 16px 16px 16px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border-radius: 8px;
      background: #f3f6ff;
    }

    .description {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;

      h3 {
        font-size: 1.25rem;
        font-weight: 800;
        line-height: 1.4;
      }

      p {
        font-weight: 400;
        line-height: 1.6;
        color: #585c7b;
      }
    }
  }
}

/* MARK: How does it work */

.presentation-container {
  width: 100%;
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--background-section);

  h2 {
    text-align: center;
    font-family: Manrope;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1.3;

    margin-bottom: 2rem;
  }

  .images-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .pres-image1,
    .pres-image3 {
      display: none;
    }

    @media (min-width: 768px) {
      img {
        width: 12.5rem;
      }
      .pres-image1,
      .pres-image3 {
        display: block;
      }
    }

    @media (min-width: 1024px) {
      img {
        width: 20rem;
      }
      gap: 4rem;
    }
  }

  .description-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem 0;
    padding: 1rem;

    @media (min-width: 768px) {
      width: 50%;
      padding: 0.5rem;
    }

    h3 {
      margin: 0.75rem;
      text-align: center;
      font-family: Manrope;
      font-size: 1.375rem;
      font-style: normal;
      font-weight: 800;
      line-height: 1.4;
    }

    p {
      color: #585c7b;
      text-align: center;
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.6;
    }
  }
}

/* MARK: Features 2 */

.features-section-2 {
  display: none;

  @media (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    padding: 2rem;

    .upper-info-container {
      display: flex;
      align-items: center;
      gap: 4rem;

      .checkbox-section {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        .check {
          display: flex;
          gap: 0.5rem;
        }
      }

      .features2-upper-image-container {
        position: relative;

        .sm-img {
          position: absolute;
          bottom: -45px;
          right: -45px;
          z-index: 10;
        }
      }
    }

    .lower-info-container {
      display: flex;
      align-items: center;
      gap: 4rem;

      .lower-image-container {
        position: relative;

        .lower-sm-img {
          position: absolute;
          right: -50px;
          top: 100px;
        }
      }
    }
  }
}

/* MARK: Testimonials */

.testimonials {
  display: none;

  @media (min-width: 1200px) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background-section);
    padding: 5rem 19.5rem;

    .testimonials-container {
      display: flex;
      gap: 3rem;

      .testimonial-title {
        width: 20rem;

        h2 {
          font-feature-settings: 'liga' off, 'clig' off;

          font-family: Manrope;
          font-size: 40px;
          font-style: normal;
          font-weight: 800;
          line-height: 130%;
        }
      }

      .testimonials-card-container {
        display: flex;
        gap: 1rem;

        .testimonial-card {
          position: relative;
          display: flex;
          flex-direction: column;
          width: 26rem;
          gap: 1.5rem;
          padding: 3rem 1.75rem;
          border-radius: 8px;
          background: var(--background-section);

          box-shadow: 0 4.4px 12px -1px rgba(19, 16, 34, 0.06),
            0 2px 6.4px -1px rgba(19, 16, 34, 0.03);

          .icon {
            position: absolute;

            top: -10px;
            left: 10px;

            img {
              width: 44;
              height: 44px;
            }
          }

          .stars {
          }

          .description {
            p {
              color: var(--gray-700, #565973);
              font-feature-settings: 'liga' off, 'clig' off;

              font-family: Manrope;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 160%;
            }
          }

          .user {
            display: flex;
          }
        }
      }
    }
  }
}

/* MARK: FAQ */

.faq {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;

  @media (min-width: 768) {
    flex-direction: column-reverse;
  }

  .faq-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* text-align: center; */
    /* flex-direction: column-reverse; */

    .title-container {
      text-align: center;
    }

    .faq-info {
      display: none;

      @media (min-width: 768px) {
        display: flex;
        gap: 1rem;
      }

      .contact-card {
        width: 21rem;
        border: 1px solid var(--clr-border);
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
        padding: 1rem;

        a {
          color: var(--Brand-Primary, #6366f1);
          background: none;
          display: flex;
          align-items: center;
          gap: 1rem;
        }
      }

      .contact-card:last-child {
        a {
          color: green;
        }

        a::after {
          content: '💀';
        }
      }
    }

    details {
      border: 1px solid var(--clr-border);
      padding: 0.5rem 1rem;

      overflow: hidden;

      &:first-child {
        border-radius: 0.5rem 0.5rem 0 0;
      }

      &:last-child {
        border-radius: 0 0 0.5rem 0.5rem;
      }

      @media (min-width: 768px) {
        margin: 1rem 0;

        border-radius: 0.5rem;

        &:first-child,
        &:last-child {
          border-radius: 0.5rem;
        }
      }

      summary {
        line-height: 1.3;
        margin-inline-start: 1rem;
        list-style-position: outside;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      summary::marker {
        content: none;
      }

      summary::after {
        content: '<<';
        background-color: var(--gray-100);

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 50%;
        padding: 1rem;

        transition: background-color 0.5s ease, rotate 0.5s;
      }

      &[open] summary::after {
        rotate: -90deg;
        background-color: var(--brand-primary);
        color: white;
      }

      &::details-content {
        line-height: 1.125rem;

        block-size: 0;
        margin-inline: 1rem;

        transition: block-size 0.5s, content-visibility 0.5s;
        transition-behavior: allow-discrete;
      }

      &[open]::details-content {
        block-size: auto;
        block-size: calc-size(auto);
      }

      p {
        max-width: 80%;
        padding-block: 1rem;
      }
    }

    @media (min-width: 1200px) {
      display: grid;
      grid-template: 'contact accordion' / 40% 1fr;
      .faq-info {
        grid-area: contact;
      }

      .accordion {
        grid-area: accordion;
      }
    }
  }

  .contact-us-btn {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      border: 1px solid;
      border-radius: 0.5rem;
      color: white;
      background: var(--brand-primary);
    }

    @media (min-width: 768px) {
      display: none;
    }
  }
}

/* MARK: Subscribe */

.subscribe-container {
  max-width: 1320px;
  background: var(--background-section);
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap: 16px;

  margin: 0 1rem;
  border-radius: 0.5rem;
  padding: 4rem 0;

  span {
    display: none;
  }

  .bell-img-container {
  }

  .text-container {
    width: 60%;
    p {
      color: #131022;
      font-family: Manrope;
      font-size: 21.6px;
      font-style: normal;
      font-weight: 800;
      line-height: 1.4; /* 139.815% */
    }
  }

  .input-container {
    display: flex;
    .input-icon {
      background: url('../images/icons/input-icons-bx-envelope.svg') no-repeat
        0.75rem center;
      background-size: 1rem;
      padding-left: 2.5rem;
      border: 1px solid var(--Gray-400, #d4d7e5);

      border-radius: 0.5rem 0 0 0.5rem;
      height: 3rem;
    }

    button {
      margin: 0;
      padding: 1rem 2rem;
      background: var(--Brand-Primary, #6366f1);
      border-radius: 0 8px 8px 0;
      border: none;
      color: var(--White, #fff);
    }
  }

  @media (min-width: 768px) {
    & {
      display: flex;
      padding: 4rem 1rem;
    }
    .text-container {
      width: 40%;
    }
  }

  @media (min-width: 1024px) {
    & {
      width: 100%;
      justify-content: space-around;

      .text-container {
        width: 30%;
        span {
          display: inline;
        }
      }

      .input-container {
        width: 40%;
      }
      input {
        width: 100%;
      }
    }
  }
}

/* MARK: Footer */

footer {
  height: 10svh;
  display: flex;
  align-items: center;
  justify-content: center;
}
